@desktop: 950px;
@tablet: 768px;
@mobile: 375px;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@yellow: #ffd93e;
@yellow-dark: #ffcd00;

@gray: #e2e2e2;
@gray-light: #f7f7f7;

@text-dark: #333333;
@text-light: #858585;
