.module {
  padding: 15px;

  background-color: @gray-light;
  border-radius: 20px;

  @media (min-width: @tablet) {
    padding: 20px;
  }

  &:hover {
    background-color: @gray-dark;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

.module--alert {
  background-color: @orange;
}

.module--l {

}

.module--m {

}

.module--s {

}

/* Внутренности модулей */
.module__title {
  margin: 0;
  margin-bottom: 15px;
}

.module__details {

}

.module__type {

}

.module__date {

}
